*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
@font-face {
    font-family: SportingGrotesque-Regular;
    src: url("type/SportingGrotesque-Regular.otf") format("opentype");
    font-family: SportingGrotesque-Bold;
    src: url("type/SportingGrotesque-Bold.otf") format("opentype");
}
@font-face {
    font-family: happy-times-at-the-ikob;
    src: url("type/happy-times-at-the-ikob.otf") format("opentype");
}
@font-face {
    font-family: happy-times-at-the-ikob;
    font-style: italic;
    src: url("type/happy-times-at-the-ikob_italic.otf") format("opentype");
}

@media screen {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.col-0 {width: 4.16%;}
[class*="col-"] {
    float: left;
    padding: 1.5%;
    /*border: 1px dashed rgba(255,0,0,0.3);*/
    height:100%;
    /*display: inline-block;*/
}

.grotesk{
  font-family: 'SportingGrotesque-Regular', sans-serif;
}
.happytimes{
  font-family: 'happy-times-at-the-ikob', serif;
}
/*
.bgimg{
  background-image: url('img/heart.gif');
} */

@keyframes movingsmall {
  0%   {transform: translateX(0vw);}
  50%  {transform: translateX(2vw);}
}
/* .topbar */
.topbar{
  width: 100%;
  position: fixed;
  height: 6.5vw;
  display: block;
  background-color: white;
  z-index: 10;
}

.topbar a{
  font-size: 2.5vw;
  text-decoration: none;
  color:black;
}

#HAITONG{
  font-family: 'SportingGrotesque-Bold', sans-serif;
  padding-left: 0;
}
#Helloheyhowareyou{
  transform: translateX(-2%);
}
.line{
  position: fixed;
  height: .1%;
  border-bottom:1.5px solid black;
  transform: translateY(6.5vw);
  width: 100%;
}




/* taglist */


.tags{
  width: 13%;
  position: fixed;
  margin-top: 6.5%;
  padding-top: 0;
  border-right: 1.5px solid black;
}

#cross{
  float: right;
  width: 2.2vw;
  margin-bottom: 30%;
  margin-top: 12%;
}
#cross:hover{
  cursor: pointer;
}


.taglist li{
  list-style: none;
  line-height: 1.25;
  text-align: left;
  float: left;
}
#tags a{
  font-size: 1.2vw;
  text-decoration: none;
  color:black;
  text-align: left;
  float: left;
}
#tags a:hover{
  font-size: 105%;
  cursor: pointer;
  margin-bottom: 1vw;
  border-bottom: 1.5px solid black;
}

.line2{
  position: fixed;
  height: .1%;
  border-bottom:1.5px solid black;
  transform: translateY(30vw);
  margin-left: -1.5vw;
  width: 13%;
}


.info-text a{
  display: inline-block;
  color: black;
  text-decoration: none;
  position: fixed;
  font-size: 1.2vw;
  transform: translateY(36.5vw);
  margin-left: 1.2vw;
  z-index:2;
}
#ABOUT{
  margin-left: 2.2vw;
}
#CONTACT{
  transform: translateY(42.3vw);
  text-align: center;
}
.ellipse{
  position: fixed;
  transform: translateY(35vw);
  text-align: center;
  width: 12%;
  padding: 0;
}

ellipse{
  position: fixed;
  fill:white;
  stroke:black;
  stroke-width:1.5px;
}

ellipse:hover{
  fill:yellow;
  stroke:black;
  stroke-width:1.5px;
}




/* content */

.content{
  position: absolute;
  margin-left: 17vw;
  transform: translateY(11vw);
}

#arrow2{
  width: 16vw;
  transform: translateY(-3.4vw);
  margin-left: -2.2vw;
  position: fixed;
}
#arrowdiv:hover{
  cursor: pointer;
  animation-name: movingsmall;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
.textopening{
  width: 35vw;
  display: inline-block;
  vertical-align: top;
  transform: translateY(4vw);
  margin-bottom: 10vw;
}
.workname{
  width: 35vw;
  font-family: 'SportingGrotesque-Bold', sans-serif;
  font-size: 3.5vw;
  line-height: 4.5vw;
  transform: translateY(-1.4vw);
}
.workintro{
  width: 35vw;
  font-size: 4vw;
  margin-top: 2vw;
}
.secinfo{
  width: 35vw;
  font-size: 1.5vw;
  margin-top: 1vw;
}
.picopening{
  display: inline-block;
  width: 25vw;
  transform: translateY(2.6vw);
  margin-left: 8vw;
}
.picopening img{
  height: 36.5vw;
}
.textdetail{
  width: 60vw;
  font-size: 2.5vw;
  margin-left: 4vw;
  line-height: 3.3vw;
  font-family: 'happy-times-at-the-ikob', serif;
}
.textdetail a{
  font-style: italic;
  color: black;
}
.textdetail a:hover{
   color: blue;
}

.contentpic{
  margin-right: 2vw;
  margin-top: 4vw;
  height: 41vw;
}
#fab-mg{
  width: 57.4vw;
  height: auto;
}
.footnote{
  transform: translateY(-1vw);
  font-size: 1.5vw;
  margin-bottom: 1.5vw;
}

/* gallery */
.button{
    transform: translate(62vw, 25vw);
}
button{
  outline: none;
  border: none;
}
.button img:hover{
  animation-name: movingsmall;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
.button img{
  width: 9vw;
}

.slide1 img{
  width: 100%;
  height: 100%;
}
.container{
  display: flex;
  margin-bottom: 1vw;
}
.slider-wrapper1{
  height: 41vw;
  width: 57.4vw;
  overflow: hidden;
}
.inner-wrapper1{
  width: 500%;
  height: 100%;
  position: relative;
  left: -100%;
}
.slide1{
  width: calc(100% / 5);
  float: left;
  display: flex;
  justify-content: left;
  align-items: left;
}

/* .play{
  transform: translateY(160%);
  font-size: 50%;
  border-bottom: 4px solid #0000ff;
} */

/* .play:hover{
  border-bottom: 4px solid red;
  color:black;
} */


body {
  height: 94vh;
  position: relative;
  overflow-x: hidden;
}



@media screen and (max-width: 500px){
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



[class*="col-"] {
    display: inline-block;
}
.tags{
  width: 13%;
  position: fixed;
  margin-top: 6.5%;
  padding-top: 0;
  border: none;
}

.line2{
  position: fixed;
  height: .1%;
  border-bottom:none;
  transform: translateY(30vw);
  margin-left: -1.5vw;
  width: 13%;
}
}
